@charset "utf-8";
* {
	margin: 0;
	padding: 0;
}

.tmptmp {
  width: 100px;
  height: 200px;
  background-color: #e33e18;
}


.fl {
	float: left;
}

.fr {
	float: right;
}

.clear {
	zoom: 1;
}

.clear:after {
	content: '';
	display: block;
	clear: both;
}

body {
	background: #fff;
}

@font-face {
	font-family: 'GothamBook';
	/*字体名称*/
	/* src: url('../fonts/GothamBook.ttf'); */
	/*字体源文件*/
}

@font-face {
	/* font-family: 'WENYUE';
	src: url('../fonts/FF_DIN_BOLD-2.ttf'); */
}

html {
	font-family: "Microsoft YaHei";
}

li {
	list-style: none;
}

.tc {
	text-align: center;
}

.blo {
	display: inline-block !important;
}

.block {
	background: #fff;
	margin-bottom: .3rem;
	padding: 1.45rem;
}

.content {
	/*height: 39.6rem;*/
	/* background: url(../img/buy/buy_bg.png); */
	background-size: 100% 100%;
	margin-top: -1rem;
	padding-top: 2rem;
}

.content-info {
	font-size: 1.2rem;
	color: #fff;
}

.content-info em {
	font-style: normal;
}

.text_title {
	font-size: 1.4rem;
	color: #292928;
	font-weight: 600;
	margin-top: 10rem;
}

.change-group {
	margin-left: .5rem;
	color: #ffb311;
	font-weight: bold;
	padding: .1rem .5rem;
	border: 1px solid #ffb311;
	border-radius: .2rem;
	font-size: .6rem;
}

.content-price-wrap {
	/*padding: 2rem 0;*/
	text-align: center;
	margin-left: 0.1rem;
	height: 12.7rem;
}

.content-price-wrap li:last-child {
	margin-right: 0 !important;
}

.img_head {
	width: 5rem;
	height: 5rem;
	margin: 0 auto;
	/*border: 1px solid #ccc;*/
	border-radius: 50%;
	position: relative;
}

.img_head .head {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.img_head #vipIco {
	position: absolute;
	top: -1.5rem;
	right: -0.5rem;
	width: 52%;
	height: auto;
}

.content-price-inner {
	border-radius: 5px;
	border: solid 2px #ffeec8;
	position: relative;
	/*display: inline-block;*/
	overflow: hidden;
	/*padding: 0 2rem;*/
	background: #fff;
	margin-bottom: .5rem;
	width: 10.4rem;
	margin-right: 1.5rem;
	height: 12.2rem;
	float: left;
}

.content-price-inner p {
	margin-top: 1.5rem;
	margin-bottom:.5rem;
}

.content-price-inner .explin_text {
	margin-top: 0;
	font-size: 1.2rem;
	color: red;
	font-weight: bold;
}

.content-price-inner.active {
	border: 2px solid #f6bc33;
}

.content-price-inner>div {
	/*line-height: 4rem;*/
	font-size: 1.38rem;
	/* font-weight: bold; */
	font-family: "WENYUE";
	/*min-width: 17.259rem;*/
	color: #000;
	margin-top: 2.4rem;
	font-weight:bold;
}

.content-price {
	color: #ffbb28;
	font-size: 2.68rem;
	/*display: inline-block;*/
	/*min-width: 2.5rem;*/
	text-align: center;
	/*-webkit-text-stroke: 1px #292928;*/
	letter-spacing: -1.5px;
}

.symbol {
	font-size: 1.7rem;
	font-weight: bold;
	font-family: "微软雅黑";
}

.content-label {
	position: absolute;
	right: -1.6rem;
	top: -.9rem;
	padding: 1.2rem 0 0 0;
	color: #fff;
	background: #fff;
	transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	width: 4rem;
	height: 2.7rem;
	font-weight: bold;
	text-align: center;
	line-height: 1.2rem;
}

.recommend-label {
	position: absolute;
    top: 0.1rem;
    left: 0.1rem;
    width: 3.5rem;
    height: 1.5rem;
    display: none;
    line-height: 1.5rem;
}

.recommend-label img {
	width: 100%;
	height: 100%;
}

.content-label img {
	width: 1.5rem;
	height: 1.2rem;
	transform: rotate(-54deg);
	-o-transform: rotate(-54deg);
	-webkit-transform: rotate(-54deg);
	-moz-transform: rotate(-54deg);
}

.content-price-inner.active .content-label {
	background: #f6bc33;
}

.suc_ico>img {
	width: 100%;
	height: 20%;
}

.list_wrap .code {
	width: 20.8rem;
	height: 22.5rem;
	margin: 1rem auto;
	overflow: hidden;
	padding: 0.422rem;
	text-align: center;
	position: relative;
}

.list_wrap .boder {
	padding: 1rem 1.6rem;
	border: 1px solid #ccc;
	width: 20.4rem;
	height: 21.9rem;
	overflow: hidden;
	background: #fff;
}

.list_wrap .code>img {
	position: absolute;
	width: 1.3rem;
}

.list_wrap .code .left {
	top: 0;
	left: 0;
}

.list_wrap .code .right {
	bottom: 0;
	right: 0;
}

.list_wrap .code .top {
	top: 0;
	right: 0;
}

.list_wrap .code .bottom {
	bottom: 0.11rem;
	left: 0;
}

.list_wrap .code .right {
	bottom: 0.11rem;
	right: 0;
}

.list_wrap .prompt {
	text-align: center;
	font-size: 1.2rem;
	color: #e33e18;
	margin-top: .1rem;
	position: relative;
	/*letter-spacing: 0.5rem;*/
}
.list_wrap .prompt::after{
	content: "";
    width: 1.3rem;
    height: 1.5rem;
    /* background: url(../img/bg_zhiwen.png) no-repeat center center; */
    background-size: 100%;
    position: absolute;
    margin-left: .5rem;
    top: 50%;
    margin-top: -.8rem;
}

.list_wrap .code .img_wrap {
	height: 17.6rem;
	width: 16.5rem;
	overflow: hidden;
	text-align: center;
}

.list_wrap .code .content-label {
	width: 6rem;
	height: 2.7rem;
	color: #ffda43;
	line-height: 1.3rem;
	left: -1.9rem;
	top: -.9rem;
	font-size: 1.2rem;
}

.list_wrap .code .content-label>span {
	margin-left: -0.95rem;
}

.list_wrap .code .img_wrap img {
	width: 100%;
	height: 99%;
}


/*.list_wrap .code img {
	width: 100%;
	margin-top: -3.8rem;
	margin-left: -7.8rem;
}*/

.list_text {
	text-align: center;
	margin-top: 1.5rem;
}

.list_text p {
	margin-bottom: 0;
}

.list_text p:nth-child(1) {
	color: #333;
	font-weight: bold;
	font-size: 1.20rem;
}

.list_text p:nth-child(2) {
	background: #292928;
	color: #ffda43;
	width: 50%;
	margin: 0 auto;
	font-family: 'GothamBook';
	height: 2.2rem;
	line-height: 2.2rem;
	letter-spacing: 0.1rem;
	font-size: 1.45rem;
	height:4rem;
	line-height:4rem;
	-webkit-user-select: text;
    user-select: text;
}

.list_text p:nth-child(3) {
	margin-top: .5rem;
	font-size: .95rem;
}

.list_text p:nth-child(4) {
	font-size: .95rem;
	margin-top: -0.3rem;
}
/*优惠券*/
.coupon-wrap{
	text-align: center;
    height: 4.3rem;
    line-height: 4.3rem;
    text-align: left;
    padding: 1rem 0 0;
}
.coupon-inner{
	padding-left:4.4rem;
	position:relative;;
	font-size:1.3rem;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	background:#f7f5f6;
	color:#a6a6a6;
	border-radius: .4rem;
}
.coupon-inner .red{
	color:#ff0f2b;
}
.coupon-inner::after{
	content:"";
	position:absolute;
	right:1.3rem;
	top:50%;
    width:1.3rem;
    height:2rem;
    margin-top:-1.1rem;
    /* background:url(../img/coupon/activity_more.png) no-repeat center; */
    background-size: 100%;
}
.select-icon{
	width:2.5rem;
	height:1.6rem;
	display:inline-block;
	position: absolute;
    left: 1.3rem;
    top: 50%;
    margin-top: -.8rem;
	background:url(../img/activity_coupon_s.png) no-repeat center center;
	background-size: 100%;
}
.select-text{
	color:#ff0f2b;
	position:absolute;
	right:2.6rem;
	top:0;
	height:4.3rem;
	line-height:4.3rem;
	font-weight:bold;
}
/*coupon end*/

#buy_btn {
	width: 12rem;
	background: #292928;
	border: 0;
	color: #ffda43;
	font-weight: bold;
	font-size: 1.4rem;
	height: 4.6rem;
	line-height: 4.6rem;
	padding: 0;
	/*margin-top: 2.5rem;*/
	width: 16.8rem;
	border-radius: 0.75rem;
	margin:2rem 0 .55rem 0;
}
.name-wrap{
	width:24rem;
	padding-right:7.5rem;
	position:relative;
	margin:0 auto;
	background:#333;
	border-radius: 1.5px;
	overflow: hidden;
}
.name {
	width: 16.5rem;
    height: 4rem;
    /*border-radius: 1.5px;*/
    background-color: #292928;
    margin: 0 auto;
    text-align: center;
    line-height: 4rem;
    font-family: nubFont;
    font-size: 1.7rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #ffda43;
    padding: 0 1rem;
    -webkit-user-select: text;
    user-select: text;
}
.copy-btn{
	position: absolute;
    right: 0;
    top: 0;
    border: .15rem solid #333333;
    background: #ffd543;
    width: 7.5rem;
    height: 4rem;
    text-align: center;
    line-height: 4rem;
    font-weight: bold;
    font-size: 1.5rem;
	cursor: pointer;
}
.explain-title {
	padding-bottom: .3rem;
	font-size: 1.3rem;
	font-weight: bold;
	position: relative;
	margin-left: 1.43rem;
	margin-right: 1.43rem;
}

.explain-title::before {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 1.5rem;
	height: .2rem;
	background: #ffda43;
	border-radius: .2rem;
}

.explain-text {
	padding: 1.8rem 0;
}

.explain-text p {
	color: #999;
	font-size: 1.3rem;
	padding-left: 2rem;
	position: relative;
	line-height: 2rem;
	margin-bottom: 1rem;
	margin-left: 2.95rem;
	margin-right: 1.43rem;
}
.explain-text .toCustomerSrv{
	color:#ffbb28;
	text-decoration: underline;
	cursor: pointer;
}
.explain-text p.nopadding {
	padding-left: 0;
}

.text-num {
	font-family: 'GothamBook';
	position: absolute;
	left: -.6rem;
	top: 0;
	font-size: 1.3rem;
	line-height: 2.1rem;
}

.group-item.current {
	color: rgb(22, 155, 213);
}

#loadingDiv {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 99990;
	background-color: rgba(0, 0, 0, 0.5);
	display: none;
}

#loadingDiv .loadingWrap {
	position: absolute;
	top: 45%;
	left: 50%;
	margin: -32px 0 0 -32px;
}

#loadingDiv .loadingWrap img {
	width: 64px;
	height: 64px;
}

#loadingDiv p {
	text-align: center;
	color: #fff;
}

.mui-table-view-cell:last-child:after,
.mui-table-view-cell:last-child:before {
	height: 0;
}

.mui-navigate-right:after,
.mui-push-left:after,
.mui-push-right:after {
	top: 44% !important;
}

.mui-navigate-right:after,
.mui-push-right:after {
	right: -0.7rem !important;
	/* font-size: 2.1rem !important; */
}

.explain-title span {
	color: #a6a6a6;
	position: absolute;
	top: 0;
	right: 0.8rem;
	font-size: 1.2rem;
	font-weight: normal;
}

.mui-content .girdFour {
	background-color: #FFFFFF;
	border: none;
	margin-top: 1.5rem;
	padding-bottom: 1.5rem;
}

.mui-content .girdFour>li {
	border: none;
}

.mui-content .girdFour>li>div {
	height: 4.1rem !important;
	width: 4.195rem !important;
	margin: 0 auto;
}

.mui-content .girdFour>li>span {
	color: #999;
	position: relative;
	font-size: 1.17rem;
	margin-top: .5rem;
	display: block;
}

.mui-grid-view.mui-grid-9 .mui-table-view-cell {
	border: none;
	padding: 0;
	margin-top: 1rem;
}

#gopng_xsp {
	/* background: url(../img/buy/bk/w5.png) no-repeat center 70%; */
}

#gopng_tp {
	/* background: url(../img/buy/bk/w10.png) no-repeat center; */
}

#gopng_tq {
	/* background: url(../img/buy/bk/w7.png) no-repeat center; */
}

#gopng_wdbk {
	/* background: url(../img/buy/bk/w9.png) no-repeat center; */
}

#gopng_lt {
	/* background: url(../img/buy/bk/w3.png) no-repeat center; */
}

#gopng_dge {
	/* background: url(../img/buy/bk/w2-1.png) no-repeat center; */
}

#gopng_sp {
	/* background: url(../img/buy/bk/w1-1.png) no-repeat center; */
}

#gopng_qyx {
	/* background: url(../img/buy/bk/w4.png) no-repeat center; */
}

#gopng_yyhd{
	/* background: url(../img/buy/bk/w13.png) no-repeat center; */
	background-size:100% !important;
}
#gopng_xz{
	/* background: url(../img/buy/bk/w11.png) no-repeat center; */
}
#gopng_lj{
	/* background: url(../img/buy/bk/w14.png) no-repeat center; */
}

.mui-content .girdFour>li>div>div {
	background-size: 70% !important;
	height: 100%;
}

.line {
	width: 100%;
	height: 1px;
	background-color: #e5e5e5;
	margin-top: 2rem;
	margin-bottom: 2.2rem;
	width: 92%;
	margin: 2rem auto;
	transform: 0 0;
	transform: scaleY(0.5);
}

.mui-grid-view.mui-grid-9 .mui-table-view-cell.mui-active {
	background-color: #fff;
}

.blocks {
	padding: 1.43rem 0;
}
.yet_buycontent{
	/* background-image: url(../img/bg.png); */
    background-size: 15%;
    height: auto;
}
.list_wrap .code .vip_flag {
	position: absolute;
    padding: 1.2rem 0 0 0;
    background: #292928;
    transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    font-weight: bold;
    text-align: center;
    width: 6.5rem;
    height: 2.7rem;
    color: #ffda43;
    line-height: 1.3rem;
    left: -1.9rem;
    top: -.9rem;
    font-size: 1.3rem;
}
.list_wrap .code .vip_flag>span {
    margin-left: -0.95rem;
}

/*弹窗*/
.mui-popup-title {
    height: 4.4rem;
    line-height: 4.4rem;
     background-color: #292928;
     color: #ffda43;
     font-size: 1.6rem;
     width: 100%;
     border-radius: 5px 5px 0 0;
}
.mui-popup-inner {
    position: relative;
   padding: 0;
    border-radius: 5px 5px 0 0;
    background:#fff;
}
.mui-popup {
    width: 82.4%;
    border-radius: 5px;
    overflow: inherit;
}
.mui-popup-title+.mui-popup-text {
    font-family: inherit;
    font-size: 1.4rem;
   margin: 0;
    height: 9.55rem;
     color: #292928;
     padding: 2.9rem;
     line-height: 2rem;
}
.mui-popup-title+.mui-popup-text p{
     color: #292928;
    margin-bottom: 0;
    font-size: 1.4rem;
    line-height: 2rem;
}
.mui-popup-text #groupNum{
	color: #ffa302;
}
.mui-popup-text #dateNum{
	color: #ffa302;
}
.mui-popup-button:first-child {
    border-radius: 0 0 0 5px;
}
.mui-popup-button:last-child {
    border-radius: 0 0 5px 0;
    color: #ffa302;
}
.mui-popup-button {
    font-size: 1.4rem;
    line-height: 4.4rem;
    width: 100%;
    height: 4.4rem;
    padding: 0;
    text-overflow: ellipsis;
    color: #999999;
    background: #fff;
    font-weight: bolder;
}
.mui-popup-button:after {
    background-color: #e5e5e5;
}
.mui-popup-inner:after {
    background-color: #e5e5e5;
}


/*图片弹窗*/
.mask{
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:rgba(0, 0, 0, 0.5);
	z-index: 1;
	display: none;
}
.popup{
	position:fixed;
	left:50%;
	top:50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	/*width:20rem;
	height:22rem;*/
	z-index: 2;
	display: none;
}
.popup-img{
	border-radius: .5rem;
	width:30rem;
	/*height:22rem;*/
	/*background:#fff;*/
}
.popup-img img{
	width:100%;
}
.popup-btn{
	position:absolute;
	left:50%;
	margin-left:-9.7rem;
	bottom:4rem;
	width:19.4rem;
	height:4.5rem;
	line-height:4.5rem;
	background:#ff4c4b;
	border-radius: 2.3rem;
	font-size:1.6rem;
	color:#fff;
	text-align:center;
	font-weight:bold;
}
.popup-close{
	width: 4rem;
    height: 4rem;
    border-radius: 100%;
    overflow: hidden;
    position: absolute;
    left: 50%;
    bottom: -6.2rem;
    margin-left: -2rem;
	/* background:url(//h5.w2gou.com/h5/img/buy/popup-close.png) no-repeat center center ; */
	background-size: 100%;
}